@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #8CC461;
}

.main{
    width:100%;
    max-width: 1200px;
    margin: 50px auto; 
}

.section1{
    max-width: 100%;
    margin:50px;
    border: 2px solid #FFFFFF;
    border-radius: 12px;
    display: flex;
    justify-content: space-between; 
    padding:16px;
}

.text-section{
    flex:1;
    color: #FFFFFF;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    letter-spacing:5px;
    text-align: left;
}

h1{
    margin:0;
}

.score-section{
    display: flex;
    flex-direction: row;
}

.score-box {
    width:160px;
    height:130;
    margin-right:20px; 
    padding:20px;
    border: 2px solid #FFFFFF;
    border-radius: 9px;
    color: #656565;
    text-align: center;
    font-size: 18px;
    font-family: 'Robot', sans-serif;
    letter-spacing: 2px;
    background-color: #FFFFFF; 
    font-weight: 700;
}

.zero{
    color: #252525;
    text-align: center;
    font-size: 80px;
    font-family: 'Roboto', sans-serif;

}

.main2{
    display: flex;
    justify-content:center; 
}

.section2{
    height: 400px;
    width: 500px;
    position: relative;
    margin:auto;
}

.circle1{
    width:100px;
    height:100px;
    border-radius: 50%;
    background-color: #FFFFFF;
    position: absolute;
    border:20px solid #0074B6;
    left:10px;
}

.line {
    position: absolute;
    left: 60px;
    right: 60px;
    margin-top:56px;
    z-index: -1;
    height:12px;
    background-color:#000000A3;
}

.circle2{
    width:100px;
    height:100px;
    border-radius: 50%;
    background-color: #FFFFFF;
    position: absolute;
    border:20px solid #BD00FF;
    right:10px;
}

.line2{
    position: absolute;
    transform: rotate(60deg);
    transform-origin: 0;
    left: 60px;
    right: 60px;
    margin-top:50px;
    z-index: -1;
    height:12px;
    background-color:#000000A3;
}

.circle3{
    width:100px;
    height:100px;
    border-radius: 50%;
    background-color: #FFFFFF;
    position: absolute;
    border:20px solid #FFA943;
    bottom:10px;
    left: 50%;
    transform: translate(-50%,0);
}
.line3 {
    height:12px;
    transform: rotate(-60deg);
    background-color:#000000A3;
    transform-origin: right;
    position: absolute;
    margin-top: 50px;
    left: 60px;    
    right: 60px;
    z-index: -1;
}

#ic1{
    height: 100px;
    width: 100px;
}

#ic2{
    height:81px;
    width: 100px;
    top:5%;
}

#ic3{
    height:85px;
    width: 90px;
}

.section3{
    position:absolute;
    right:100px;
}

.section_3{
    position: relative;
}
.section-rule{
    width: 280px;
    height: 330px;
    bottom:100px;
    right: 0;
    border-radius: 13px;
    border: 7px solid #FFFFFF;
    background-color: #004429;
    margin-right: 50px;
    margin-left: 80px;
    margin-top: 50px;
    padding-right: 12px;
    position: absolute;
}

#gm_rule{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 550;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
}

#rules{
    font-family: 'Roboto', sans-serif;
    color:#FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    list-style-type: none;
    padding-left: 2em;
    padding-right: 2em;
    margin: 0;
}

.cross{
    position: absolute;
    left: 90%;
    bottom:90%;
    width:15%;
    height:15%;
    border-radius: 50%;
    background-color: red;
    border: 8px solid #FFFFFF;
}

#ic4{
    height:50px;
    width: 25px;
    margin-left: 10px;
}

#R1 {
    border: 4px solid #FFFFFF;
    color: #FFFFFF;
    background-color: #8CC461;
    width:150px;
    height:50px;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight:800;
    text-align: center;
    border-radius: 10px;
    font-size: 25px;
    padding: 5px;
}

li {
    padding-left: 1em; 
    text-indent: -.7em;
}

li::before {
    content: "■  ";
    color: #FFD600; 
}
